.contact-us-box {
  width: 100%;
  height: 3.3rem;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .contact-link-box {
    width: 4.4rem;
    display: flex;

    &>div {
      width: 50%;
      height: 0.6rem;
      line-height: 0.6rem;
      box-sizing: border-box;
      border: 1px solid #fff;
      color: #fff;
      font-size: 0.26rem;
      text-align: center;
      margin-right: -1px;
    }
  }
  .copy-right {
    width: 5.2rem;
    line-height: 0.32rem;
    font-size: 0.16rem;
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0.2rem;
  }
}
