<section class="main brand">
  <div class="brand_content">
    <div class="good">
      <h2>我们的优势</h2>
      <div class="good_top">
        <div class="good_left">
          <img src="./assets/img/about1/world.png" alt="">
          <p>品牌厂家直接签约，保证全国最低价</p>
        </div>
        <div class="good_left">
          <img src="./assets/img/about1/world1.png" alt="">
          <p>云深间造100%质控，坚守行业的质量和品味</p>
        </div>
      </div>
    </div>
    <ul class="brand_list">
      <li>
        <img src="./assets/img/about1/bilishi.png" alt="">
        <h3>Lalegno</h3>
        <h4>“质量，是我们数十年来坚持对木材原料的严苛优选，一层层精心打磨”</h4>
        <p>Lalegno是欧洲工艺的典型代表，从花样设计到表面木纹加工，都力求精细和高标准。</p>
        <p>这个并不过度强调“设计风格”，而是十年如一日制作稳定、高级产品的品牌，反而有着自成一派的气质，一种得体的创新感。</p>
        <p>并不随波逐流的他们，和所谓“趋势”始终保持着一段理性克制的距离，更在延续了斯堪地那维亚传统设计风格脉络的同时，浓缩揉融进了独特的当代设计语言：简爽明快，质感强烈。</p>
        <button type="button">进入专区</button>
      </li>
      <li>
        <img src="./assets/img/about1/xinjiapo.png" alt="">
        <h3>Greenply</h3>
        <h4>“我们帮你完成每一种华丽木头的梦想”</h4>
        <p>Greenply的WV三层地板, 集精细做工、天然美丽图案，和适当的价格为一身，真正为新中产家庭提供不流于世俗的设计感和性价比。</p>
        <p>它以各种实木木皮为表面，中嵌高密度纤维板，后者是世界目前认可最稳定的材料。这样的组合，不仅颜值动人（数百种天然珍稀木种纹路），极其生态友好（表面仅为0.6mm厚），更是性价比超群（仅为同木种实木地板价格的百分之一）。</p>
        <p>全球范围内，Greenply拥有逾10000家经销门店</p>
        <button type="button">进入专区</button>
      </li>
      <li>
        <img src="./assets/img/about1/shengbaoluo.png" alt="">
        <h3>St.Paul 圣保罗地板</h3>
        <h4>“我们只做健康地板“</h4>
        <p>成立于1997年圣保罗，是中国第一家制造出强化地板的民营企业，也是中国一家生产出日标F4星环保等级的地板品牌，自此成为中国制造之代表，持续专注于地板研发和工艺创新，至今已逾20年。</p>
        <p>云深间造精选的圣保罗产品均拥有3个特点： 偏好中式的设计、最优环保等级，及最高性价比。数十年的积累，一直只为国人生产地板，从南到北，从东到西，他们最了解中式风格家庭地板的搭配。</p>
        <p>在我们的甄选的数十种最受欢迎和最百搭的花色中，80%达到了AC3（国标最高耐磨等级），10%达到AC4（欧标最高耐磨等级）。</p>
        <button type="button">进入专区</button>
      </li>
    </ul>
    <div class="close_a" (click)="close_brand()">
      <img src="./assets/img/about1/close.png" alt="">
    </div>
  </div>
</section>
