<section class="main tean_main">
  <div class="team_content">
    <h3>Hi</h3>
    <div class="hi">
      <p>深圳市塔木科技有限公司，是一家拥有自研VR能力的沉浸式体验科技公司。</p>
      <p>我们提供的端到端家居智能选购体验，通过虚拟现实（VR）和现实增强（AR）等技术，帮助用户更直观地设计和选购家居用品。
        解决2D图纸、仿真效果图不够立体真实、以及店面实物不够全等问题。</p>
      <img src="./assets/img/about1/team.png" alt="">
    </div>
    <h3>The Team</h3>
    <ul class="team_peo">
      <li>
        <img src="./assets/img/about1/Ken.png" alt="">
        <p>杜康</p>
        <p>Founder&CEO</p>
        <p>
          5年VR连续创业者，前任微软总部开发工程师， Paypal SDE，美国720 Explorer创始人；美国德州A&M大学/计算机科学学士。
        </p>
      </li>
      <li>
        <img src="./assets/img/about1/louise.png" alt="">
        <p>夏小瑜</p>
        <p>Co-founder & COO</p>
        <p>
          曾任德勤、凯捷战略顾问， TME持续从业者，业务领域横跨战略及运营咨询，商业拓展及新科技投资；
          芝加哥大学/社会科学硕士; 国关&商科学士
        </p>
      </li>
      <li>
        <img src="./assets/img/about1/tan.png" alt="">
        <p>唐梓桂</p>
        <p>Creative Director</p>
        <p>
          互联网全模块设计经验；熟悉智能家居、科技制造领域，曾参与起亚汽车、奥迪中国IoT；CDN、RSA、IF获奖；
          产品设计科班出身；英国拉夫堡大学/工业设计硕士
        </p>
      </li>
      <li>
        <img src="./assets/img/about1/Joe.png" alt="">
        <p>谢军</p>
        <p>
          IT & Development
        </p>
        <p>
          多年前后端开发经验、大型网址开发经验、擅长构建兼容主流浏览器的PC及移动端页面、熟悉跨平台混合开发、
          Photoshop脚本语言以及node开发,技术的狂热追求者
        </p>
      </li>
      <li>
        <img src="./assets/img/about1/Jack.png" alt="">
        <p>冯岩</p>
        <p>
          Product & Operation
        </p>
        <p>
          5年家居建材领域市场开发、品管经验。曾就职美国世邦魏理仕不动产服务公司，服务于恒隆、汤臣、华远、万科；擅长项目开发管理。
        </p>
      </li>
      <li>
        <img src="./assets/img/about1/haini.png" alt="">
        <p>张傲寒</p>
        <p>
          Marketing & Sales
        </p>
        <p>
          多年线上下品牌运营经验，互联网连续从业者；先后就职于国内知名媒体策划、体育科技公司 ；擅长市场方案解决，媒体营销策划; HUC经济学学士。
        </p>
      </li>
    </ul>
    <h3>The Story</h3>
    <div class="stroy">
      <img src="./assets/img/about1/story1.png" alt="">
      <img src="./assets/img/about1/story2.png" alt="">
    </div>
    <h3>云深间造团队</h3>
    <div class="mu_steam">
      <p>云深间造团队来到英国哈罗盖特参加地面铺装展，帮大家寻找新的品牌商。该展会主要用于建材品牌在英国本土的招商，因此可以清楚直观的看到欧洲流行趋势，发展方向。</p>
      <p>虽然市场偏好和我国有明显不同，但对云深间造团队建立家居建材界完整的世界观具有重要意义·今年明显亮眼的是诸多线上平台和辅助软件的喷涌招商，如Houzz就进行了专门的宣传讲座。</p>
    </div>
    <h3>2017-1-19</h3>
    <div style="padding: 0 15px">
      <div class="close_a" (click)="close_team()">
        <img src="./assets/img/about1/close.png" alt="">
      </div>
    </div>
  </div>
</section>
