<!--<div class="main about-foorter">-->
  <!--<ul>-->
    <!--<li>-->
      <!--<img src="./assets/img/about1/phone.png" alt="">-->
      <!--<p>客服电话：0731-85594580<br>(9:00-21:00)</p>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img src="./assets/img/about1/email.png" alt="">-->
      <!--<p>service@forwoodsup.com</p>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img src="./assets/img/about1/Positioning.png" alt="">-->
      <!--<div class="adress">-->
        <!--<div class="adress_m" (click)="seleAdress(1)" id="about-us-adress1">-->
          <!--<p [style.color]="adreesColor ==1 ? '#da8c53': '#ffffff'">长沙分部</p>-->
        <!--</div>-->
        <!--<div style="width: 1px;height: 16px; background-color: #fff;"></div>-->
        <!--<div class="adress_m" (click)="seleAdress(2)" id="about-us-adress2">-->
          <!--<p [style.color]="adreesColor ==2 ? '#da8c53': '#ffffff'">深圳总部</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<div class="detail_adress">-->
    <!--<p *ngIf="adreesColor === 1">湖南省长沙市开服区湘江中路208欧<br>陆经典B座2006</p>-->
    <!--<p *ngIf="adreesColor === 2">深圳市宝安区新安街道华丰时代广场3楼303(总部)</p>-->
  <!--</div>-->
  <!--<div class="the-company">-->
    <!--<p>Copyright @ 2017 All Right Reserverd.深圳塔木科技有限公司</p>-->
  <!--</div>-->
<!--</div>-->
