<div class="main reserve">
  <h3>Trusted By</h3>
  <h4>品牌</h4>
  <div class="brand_list">
    <div class="brand_left">
      <img src="./assets/img/about1/reserve-shengbaoluo.png" alt="">
    </div>
    <div class="brand_right">
      <p>湖南省长沙市红星北路红星美凯龙3楼</p>
      <p>福建省福州市富平南68喜盈门3楼</p>
      <p>广东省深圳市华强北路喜盈门3楼</p>
      <p>广东省江门市枫林南街喜盈门3楼</p>
    </div>
  </div>
  <div class="more_brand">
    <p>更多城市和品牌即将入驻，敬请期待</p>
  </div>
  <h3>直接联系我们</h3>
  <iframe [src]="dituUrl" width="100%" [height]="if_width"></iframe>
  <h3>想成为的合作伙伴？</h3>
  <div class="Cooperation">
    <p>商务合作</p>
  </div>
</div>
<contact-us></contact-us>
<bottom-nav></bottom-nav>
